<div class="container">

    <h3>Empresa de Transporte</h3>
    <hr>
  
    <form (ngSubmit)="submit()">
        <div class="card">

            <div class="card-body">

              <div class="row">
                <div class="col-md-8">
                  <div class="input-group input-group-sm ">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelectAsociaciones">Empresas existentes:</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelectAsociaciones" #t (change)="onChangeEmpresa(t.value)"
                            [(ngModel)]="empresaSeleccionada" [ngModelOptions]="{standalone: true}">
                      <option value=0>(Nueva Empresa)</option>
                      <option *ngFor="let op of empresas" [value]="op.id">{{op.razonSocial}}</option>
                    </select>
                  </div>                  
              </div>
              
              </div>
              <hr>

                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputRazonSocial">Razón Social (<span class="text-danger font-weight-bold">*</span>):</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="inputRazonSocial" [ngClass]="{ 'is-invalid': submittedRazonSocial }"
                                  [(ngModel)]="empresa.razonSocial" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelectPais">País (<span class="text-danger font-weight-bold">*</span>):</label>
                          </div>
                          <select class="custom-select" id="inputGroupSelectPais" [(ngModel)]="empresa.pais" [ngModelOptions]="{standalone: true}" 
                                  [ngClass]="{ 'is-invalid': submittedPais }">
                            <option value=''>Seleccionar...</option>
                            <option *ngFor="let param of parametricaPaises" [value]="param.id">{{param.descripcion}}</option>
                          </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelectTipoConstitucion">Tipo de Constitución (<span class="text-danger font-weight-bold">*</span>):</label>
                      </div>
                      <select class="custom-select" id="inputGroupSelectTipoConstitucion" [(ngModel)]="empresa.tipoConstitucion" [ngModelOptions]="{standalone: true}" 
                              [ngClass]="{ 'is-invalid': submittedTipoConstitucion }">
                        <option value=''>Seleccionar...</option>
                        <option *ngFor="let param of parametricaTiposConstitucionEmpresas" [value]="param.id">{{param.descripcion}}</option>
                      </select>
                    </div>
                  </div>     
                  <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputemail">Email(s):</span>
                        </div>
                        <input type="email" class="form-control" aria-describedby="inputemail" 
                              [(ngModel)]="empresa.email" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>                                
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputDireccion">Dirección:</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="inputDireccion" 
                                  [(ngModel)]="empresa.direccion" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputSitioWeb">Página Web:</span>
                          </div>
                          <input type="text" class="form-control" aria-describedby="inputSitioWeb" 
                                [(ngModel)]="empresa.sitioWeb" [ngModelOptions]="{standalone: true}">
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="inputFechaInicio">Fecha de Inicio (<span class="text-danger font-weight-bold">*</span>):</span>
                      </div>
                      <input class="form-control" placeholder="dd/mm/aaaa" name="dp" ngbDatepicker #d="ngbDatepicker" 
                            [ngClass]="{ 'is-invalid': submittedFechaIni }" readonly="true"
                            [(ngModel)]="fechaInicio" [ngModelOptions]="{standalone: true}" (ngModelChange)="buildDateInicio($event)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>  
                             
                  <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="inputFechaFin">Fecha de Finalización (<span class="text-danger font-weight-bold">*</span>):</span>
                      </div>
                      <input class="form-control" placeholder="dd/mm/aaaa" name="dp" ngbDatepicker #d2="ngbDatepicker" 
                            [ngClass]="{ 'is-invalid': submittedFechaFin }" readonly="true"
                            [(ngModel)]="fechaFin" [ngModelOptions]="{standalone: true}" (ngModelChange)="buildDateFin($event)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>             
                </div>

            </div>  
        
            <div class="card-footer">
              <div class="row justify-content-end">
                <div class="col-md-1">
                  <input class="btn btn-outline-primary btn-sm" type="submit" value="Guardar">
                </div>
            </div>
            </div>
        </div>
      </form>

</div>

