<h4>Partidas Presupuestarias</h4>
<hr>

<div class="row fluid">
    <div class="col-3">
        <section class="fieldset mt-3">
            <h1>Totales</h1>
            <div class="card card-flyer mt-3">
                <div class="card-body">
                  <h4 class="card-title">
                    <div class="row">
                        <p><span class="display-6">920,000,000<br></span><span class="badge badge-pill badge-primary">Total</span></p>
                    </div>
                  </h4>
                  <div class="mb-2">
                    <span class="text-muted">Aprobado: 600,000,000</span>                  
                    <ngb-progressbar [showValue]="true" type="info" [value]="100"></ngb-progressbar>                  
                  </div>
                  <div class="mb-2">
                    <span class="text-muted">Incremento: 120,000,000</span>                  
                    <ngb-progressbar [showValue]="true" type="info" [value]="100"></ngb-progressbar>                  
                  </div>
                  <div class="mb-2">
                    <span class="text-muted">Ejecutado: 450,000,000</span>
                    <ngb-progressbar [showValue]="true" type="success" [value]="450" [max]="600"></ngb-progressbar>                  
                  </div>
                  <div class="mb-0">
                    <span class="text-muted">Disponible: 150,000,000</span>
                    <ngb-progressbar [showValue]="true" type="warning" [value]="150" [max]="600"></ngb-progressbar>                  
                  </div>
                </div>
            </div>      
        </section>
    
    </div>
    <div class="col-8">
        <section class="fieldset mt-3">
            <h1>Partidas</h1>
            <div class="row">
                <div class="col">
                    <div class="card card-flyer mt-3">
                        <div class="card-body">
                          <h4 class="card-title">
                            <div class="row">
                                <p><span class="display-6">500,000,000<br></span><span class="badge badge-pill badge-secondary">Mayoreo</span></p>
                            </div>
                          </h4>
                          <div class="mb-2">
                            <span class="text-muted">Aprobado: 340,000,000</span>                  
                            <ngb-progressbar [showValue]="true" type="info" [value]="340" [max]="600"></ngb-progressbar>                  
                          </div>
                          <div class="mb-2">
                            <span class="text-muted">Incremento: 75,000,000</span>                  
                            <ngb-progressbar [showValue]="true" type="info" [value]="75" [max]="120"></ngb-progressbar>                  
                          </div>
                          <div class="mb-2">
                            <span class="text-muted">Ejecutado: 280,000,000</span>
                            <ngb-progressbar [showValue]="true" type="success" [value]="280" [max]="400"></ngb-progressbar>                  
                          </div>
                          <div class="mb-0">
                            <span class="text-muted">Disponible: 60,000,000</span>
                            <ngb-progressbar [showValue]="true" type="dark" [value]="120" [max]="400"></ngb-progressbar>                  
                          </div>
                        </div>
                    </div>  
                </div>
                <div class="col">
                    <div class="card card-flyer mt-3">
                        <div class="card-body">
                          <h4 class="card-title">
                            <div class="row">
                                <p><span class="display-6">120,000,000<br></span><span class="badge badge-pill badge-secondary">RECON</span></p>
                            </div>
                          </h4>
                          <div class="mb-2">
                            <span class="text-muted">Aprobado: 70,000,000</span>                  
                            <ngb-progressbar [showValue]="true" type="info" [value]="70" [max]="600"></ngb-progressbar>                  
                          </div>
                          <div class="mb-2">
                            <span class="text-muted">Incremento: 12,000,000</span>                  
                            <ngb-progressbar [showValue]="true" type="info" [value]="12" [max]="120"></ngb-progressbar>                  
                          </div>
                          <div class="mb-2">
                            <span class="text-muted">Ejecutado: 50,000,000</span>
                            <ngb-progressbar [showValue]="true" type="success" [value]="50" [max]="70"></ngb-progressbar>                  
                          </div>
                          <div class="mb-0">
                            <span class="text-muted">Disponible: 20,000,000</span>
                            <ngb-progressbar [showValue]="true" type="dark" [value]="20" [max]="70"></ngb-progressbar>                  
                          </div>
                        </div>
                    </div>      
                </div>
                <div class="col">
                    <div class="card card-flyer mt-3">
                        <div class="card-body">
                          <h4 class="card-title">
                            <div class="row">
                                <p><span class="display-6">300,000,000<br></span><span class="badge badge-pill badge-secondary">Contratos Petroleros</span></p>
                            </div>
                          </h4>
                          <div class="mb-2">
                            <span class="text-muted">Aprobado: 190,000,000</span>                  
                            <ngb-progressbar [showValue]="true" type="info" [value]="190" [max]="600"></ngb-progressbar>                  
                          </div>
                          <div class="mb-2">
                            <span class="text-muted">Incremento: 33,000,000</span>                  
                            <ngb-progressbar [showValue]="true" type="info" [value]="33" [max]="120"></ngb-progressbar>                  
                          </div>
                          <div class="mb-2">
                            <span class="text-muted">Ejecutado: 120,000,000</span>
                            <ngb-progressbar [showValue]="true" type="success" [value]="120" [max]="190"></ngb-progressbar>                  
                          </div>
                          <div class="mb-0">
                            <span class="text-muted">Disponible: 70,000,000</span>
                            <ngb-progressbar [showValue]="true" type="dark" [value]="70" [max]="190"></ngb-progressbar>                  
                          </div>
                        </div>
                    </div>
                </div>
              </div>    
        </section>
    
    </div>
</div>
