<p>empresa simple works!</p>

<div class="container">
        <form  (ngSubmit)="submit()">
            <div class="card">
                <div class="card-body">
                    <p>Identificación de la Empresa:</p>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group input-group-sm mb-3">
                                <!-- <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputRazonSocial">Razón Social :</span>
                                </div>
                                <input type="number" class="form-control" 
                                       aria-describedby="inputRazonSocial" [(ngModel)]="data.razonSocial"> -->
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>




                    <!-- <div class="row">
                        <div class="col-md">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputNumeroContrato">Razón :</span>
                                </div>
                                <input  formControlName="numeroContrato" type="number" class="form-control" 
                                        aria-describedby="inputNumeroContrato" [(ngModel)]="data.informacionGeneral.numeroContrato">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGestion">Gestión:</span>
                                </div>
                                <input  formControlName="gestion" type="number" class="form-control" 
                                        aria-describedby="inputGestion" [(ngModel)]="data.informacionGeneral.gestion">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputLotes">Lote(s):</span>
                                </div>
                                <input  formControlName="lotes" type="text" class="form-control" 
                                        aria-describedby="inputLotes" [(ngModel)]="data.lote" readonly="true">
                            </div>
                        </div>
                    </div> -->

        
                    <p>Empresa(s) :</p>
                    <div class="row">
                        <!-- data issues pendent... -->
                    </div>
                </div>
        
        
              <hr>
              <div class="row justify-content-end">
                  <div class="col-md-1">
                    <input class="btn btn-outline-secondary btn-sm" type="reset" value="Limpiar">
                  </div>
                  <!-- <div class="col-md-1">
                    <input class="btn btn-outline-success btn-sm" type="reset" value="Validar">
                  </div> -->
                  <div class="col-md-1">
                    <input class="btn btn-outline-primary btn-sm" type="submit" value="Guardar">
                  </div>
              </div>
            </div>
          </form>

        
     




</div>

<br>
<!-- <p>{{data | json}}</p>    -->
