<div class="container-fluid">
  <div class="col-md">
    <h3>Contratos</h3>
    <hr>
  </div>
  <form>
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md">
            <div class="  -group form-inline">
                Buscar: <input class="form-control ml-2" stype="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
                <span class="ml-3" *ngIf="service.loading$ | async">
                  cargando...
                  <div class="spinner-border text-primary" role="status">
                  </div>                  
                </span>
            </div>
          </div>
          <div class="col-md text-right">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle (change)="nuevoChanged($event)">Nuevo</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <button ngbDropdownItem (click)="openitnew(content)">Transporte Internacional</button>
                <button ngbDropdownItem (click)="openitnew(contentNal)">Transporte Nacional</button>
                <button ngbDropdownItem (click)="openitnew(contentSumi)">Suministro</button>
              </div>
            </div>
          </div>
        </div>

        <table class="table table-striped table-sm table-hover" >
          <colgroup>
            <!-- <col span="1" style="width: 5%;"> -->
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 3%;">
            <col span="1" style="width: 47%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
         </colgroup>            
          <thead>
          <tr>
            <!-- <th scope="col"></th> -->
            <th scope="col" sortable="numero" (sort)="onSort($event)">Número</th>
            <th scope="col" sortable="fechaSuscripcion" (sort)="onSort($event)">Suscripción</th>
            <th scope="col" sortable="fechaVigencia" (sort)="onSort($event)">Vigencia</th>
            <th></th>
            <th scope="col" sortable="descripcion" (sort)="onSort($event)">Descripción</th>
            <th scope="col" sortable="volumenEjecutado" (sort)="onSort($event)">Vol. Ejec.</th>
            <th scope="col">Saldo Adj.</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let country of countries$ | async" (click)="openit(content, contentNal, contentSumi, country.id, country.tipo, country.ambito, country.medio)">
            <!-- <th scope="row">{{ country.id }}</th> -->
            <td><ngb-highlight [result]="country.numero | leftZero:'6'" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="country.fechaSuscripcion" [term]="service.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="country.fechaVigencia" [term]="service.searchTerm"></ngb-highlight></td>
            <td>
              <img *ngIf="country.tipo=='TRANS' && country.ambito=='INT'" [src]="'assets/img/icons/cisterna.png'" class="mr-2" style="width: 20px">
              <img *ngIf="country.tipo=='TRANS' && country.ambito=='NAL'" [src]="'assets/img/icons/cisterna_bo.png'" class="mr-2" style="width: 20px">
              <img *ngIf="country.tipo=='SUMIN' && country.medio=='BUQUE'" [src]="'assets/img/icons/buque.png'" class="mr-2" style="width: 20px">
              <img *ngIf="country.tipo=='SUMIN' && country.medio=='PLANTA'" [src]="'assets/img/icons/planta.png'" class="mr-2" style="width: 20px">
            </td>
            <td class="text-left"><ngb-highlight [result]="country.descripcion" [term]="service.searchTerm"
              ngbPopover="{{country.descripcion}}" triggers="mouseenter:mouseleave" popoverTitle="Descripción"></ngb-highlight></td>
            <!-- <td><ngb-highlight [result]="country.volumenEjecutado | percent:'2.1-1'" [term]="service.searchTerm"></ngb-highlight></td> -->
            <td class="text-right">
              <!-- <ngb-progressbar ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title" [showValue]="true" type="success" [value]="65"></ngb-progressbar>  -->
              <span class="badge badge-success">{{country.volumenEjecutado | m3}}</span>                  
            </td>
            <td class="text-right">
              <span class="badge badge-info">{{country.saldoAdjudicado | number: '1.0-0'}}</span>                  
            </td>    
          </tr>

      
       </tbody>
        </table>          
      
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>
      
          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="7">7 ítems por página</option>
            <option [ngValue]="12">12 ítems por página</option>
            <option [ngValue]="18">18 ítems por página</option>
          </select>

        </div>            

      </div>
    </div>        
  </form>    


</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-contrato-transporte idContract={{idContract}}></app-contrato-transporte>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link" (click)="modal.close('Save click')">Cerrar</button>
    </div>
</ng-template>

<ng-template #contentNal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-contrato-transporte-nacional idContract={{idContract}}></app-contrato-transporte-nacional>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #contentSumi let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-contrato-suministro idContract={{idContract}}></app-contrato-suministro>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>
