<div class="container">
    <h3>Empresas de Transporte Internacional</h3>
    <hr>

    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Empresas</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Transporte Internacional</h6>

                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">TRUCK HEAVY RL <span class="badge badge-primary badge-pill">14</span></a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">TRUCK MONSTER RL <span class="badge badge-primary badge-pill">7</span></a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">RDL CISTERNS RL <span class="badge badge-primary badge-pill">3</span></a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">TRUCK MONSTER RL <span class="badge badge-primary badge-pill">12</span></a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">ATB HIGH TRUCKS RL <span class="badge badge-primary badge-pill">30</span></a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">TRUCK & TRACK RL <span class="badge badge-primary badge-pill">24</span></a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-info">TRUCKING SRL <span class="badge badge-primary badge-pill">6</span></a>
                  </div>
                  <hr>
                  <a href="#" class="card-link">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Cisternas</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Placas</h6>
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">1098-KFC</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">5842-FRE</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">9658-JUY</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">0125-LOI</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">7548-DES</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">6593-BGF</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">9578-MJU</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">6586-TRE</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">5984-DEW</a>

                  </div>
                  <hr>
                  <a href="#" class="card-link">Agregar</a>
                </div>
            </div>            
        </div>
        <div class="col-md">
            
        </div>
        <div class="col-md">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Asociaciones</h5>
                  <h6 class="card-subtitle mb-2 text-muted">de Empresas de Transporte</h6>
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">TRUCK ASOCIADOS</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">NADIA ASOCIADOS</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">ATB ASOCIADOS</a>
                  </div>
                  <hr>
                  <a href="#" class="card-link">Agregar</a>
                </div>
            </div>            
        </div>
    </div>

</div>
